* {
margin: 0;
padding: 0
}

pagina, cabecalho, painelDireito, corpo, rodape {
position: relative;
display: block
}

pagina {
width: 1000px;
background-color: whitesmoke;
margin: 0 auto
}

cabecalho {
width: 1000px;
height: 150px
}

painelDireito {
width: 300px;
min-height: 400px;
float: right
}

corpo {
width: 700px;
min-height: 400px;
float: left
}

rodape {
width: 1000px;
height: 50px;
margin: 0 auto;
clear: both
}